extends ../layout/layout.pug
//- include ../components/mixin/hero.pug

block variables
  - var bodyClass = 'home'  
  - var template = 'home'
  -
    var metas = {
      description: '',
      image: '',
      title: '',
      url: '',
      name: ''
    }

block content
  p XD


