.form {
  input, textarea, select {
    border: solid rgba(255, 255, 255, 0.3) 1px;
    padding: 10px 20px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: rem-calc(13px);

    @include breakpoint(xxlarge) {
      padding: 15px 20px;
      font-size: rem-calc(16px);
    }
  }

  select option {
    color: #333;
  }

  textarea {
    height: 100px;
  }

  .btn {
    padding: 15px 0;
    background-color: $red;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

  &__field {
    margin-bottom: 8px;
    padding-bottom: 16px;
    position: relative;

    @include breakpoint(xxlarge) {
      margin-bottom: 10px;
      padding-bottom: 20px;
    }

    .error-message {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      color: $red;
      font-size: rem-calc(12px);

      @include breakpoint(xxlarge) {
        font-size: rem-calc(13px);
      }

    }
  }
}