extends ../layout/layout.pug

block variables
  - var bodyClass = 'home'  
  - var template = 'home'
  -
    var metas = {
      description: '',
      image: '',
      title: '',
      url: '',
      name: ''
    }

block content
  include ../components/hero.pug

  .container
    h1 Title
